language: node_js
node_js:
  - "6.2.1"
services:
  - mongodb
script:
  - npm test
after_success:
  - npm install istanbul -g
  - npm run coverage
env:
  - CXX=g++-4.8
addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - g++-4.8
